﻿/*
    Here is where we would have the light theme for the
    jumbotron class.

*/

.jumbotron{

    background-image:url(../../images/codebg.jpg);
}

.jumbotron h1{
    background:#fff;
    opacity:.7;
    border-radius:10px;
    padding:5px 10px;
}

.jumbotron .lead{
    text-align:center;
    color:#fff;
}